<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center center" fxLayoutAlign="space-around">
    <div fxLayoutAlign="center center">
        <mat-icon class="icon">call</mat-icon>
        <span class="text">: {{contactNumber}}</span>
    </div>
    <div fxLayoutAlign="center center">
        <mat-icon class="icon">email</mat-icon>
        <span class="text">: {{email}}</span>
    </div>
    <div fxLayoutAlign="center center">
        <mat-icon class="icon">info</mat-icon>
        <span class="text">: {{deliveryNote}}</span>
    </div>
</div>