.img-thumbnail {
    height: 50px;
    width: 50px;
}

.mat-button {
    outline: 0;
}

.menu-spacer {
    flex: 1 1 auto;
}

.mat-menu-item {
    outline: 0;
}

// .menu-icon {
//     padding: 0 14px;
// }
