<h3 mat-dialog-title>Choose your Location</h3>
<div mat-dialog-content>
  <p class="mat-caption">Select a delivery location to see product availability and delivery options</p>
  <mat-radio-group aria-label="Select an option"
  [(ngModel)]="selectedAddress" fxLayout="column wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center start">
    <!-- <mat-radio-button value="1">Option 1</mat-radio-button> -->
    <mat-radio-button *ngFor="let address of addressList">
      <mat-card>
        {{address}}
      </mat-card>
    </mat-radio-button>
  </mat-radio-group>
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field> -->
</div>
<div mat-dialog-actions fxLayout="row wrap" fxLayout.xs="row" fxLayoutGap="10px" fxLayoutAlign="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial>Apply</button>
  <!-- <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Apply</button> -->
</div>