.img-thumbnail {
    height: 50px;
    width: 50px;
}
.menu-spacer {
    flex: 1 1 auto;
}
.pointer {
    cursor: pointer;
}

.cartImg {
    height: 35px;
    width: 35px;
    // margin-right: 10px;
    // margin-bottom: 3px;
}

.productCartBtn {
    height: 35px;
    width: 35px;
}

.mat-button {
    outline: 0;
}

.mat-icon-button {
    outline: 0;   
}

.mat-menu-item {
    outline: 0;
}
