<app-contact-info-bar></app-contact-info-bar>
<mat-toolbar fxLayout="row" color="primary" class="mat-elevation-z8">
    <button mat-button routerLink="/">
        {{websiteName}}</button>
    <!-- This fills the remaining space of the current row -->
    <span class="menu-spacer"></span>
    <div>
        <button mat-button (click)="openAddressBook()"><mat-icon class="pointer">location_on</mat-icon>Deliver to...</button>
    </div>
    <div>
        <button mat-button [mat-menu-trigger-for]="cartSnapshot"><mat-icon class="pointer">shopping_cart</mat-icon>
            <span matBadge="{{totalItems}}" matBadgeOverlap="false">Cart</span>
        </button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu">
        <div *ngIf="authService.isLoggedIn" fxLayout="row wrap" fxLayoutAlign="center center">
            <img src="{{user.photoURL}}" class="align-self-start mr-1 img-thumbnail rounded-circle" alt="{{user.displayName}}">
            <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong>
        </div>
        <div *ngIf="!authService.isLoggedIn" fxLayout="row wrap" fxLayoutAlign="center center">
            <img src="{{defaultUsrImgUrl}}" class="align-self-start mr-1 img-thumbnail rounded-circle">
            <strong>User</strong>
        </div>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #cartSnapshot="matMenu">
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Shopping Cart items</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" *ngFor="let product of products; let i = index">
                <div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div>
                            <img class="cartImg" [src]="product.imageURL">
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <p>{{product.productPrice}} x {{product.items}}={{product.items*product.productPrice}}</p>
                        </div>
                        <span class="menu-spacer"></span>
                        <div fxLayout="row" fxLayoutAlign="end end">
                                <button mat-icon-button (click)="incItems(product)"><mat-icon>add</mat-icon></button>
                                <button mat-icon-button (click)="decItems(i)"><mat-icon>remove</mat-icon></button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="removeProduct(product)"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </div>
            <div>
                <strong>Total: {{totalPrice}} &euro;</strong>
                <mat-divider></mat-divider>
            </div>
        </mat-card-content>
        <div class="card-actions-container" fxLayoutAlign="end end">
            <mat-card-actions>
                <button mat-button><mat-icon class="pointer">remove_shopping_cart</mat-icon>Clear Cart</button>
                <button mat-button><mat-icon class="pointer">payment</mat-icon>Checkout</button>
            </mat-card-actions>
        </div>
    </mat-card>
</mat-menu>
<mat-menu x-position="before" #menu="matMenu">
    <button *ngIf="!authService.isLoggedIn"mat-menu-item (click)="authService.GoogleAuth()" routerLink="">Login</button>
    <button *ngIf="authService.isLoggedIn" mat-menu-item routerLink="/dashboard">Profile</button>
    <button *ngIf="authService.isLoggedIn" mat-menu-item routerLink="/admin">Admin</button>
    <button *ngIf="authService.isLoggedIn"mat-menu-item (click)="authService.SignOut()" routerLink="">Logout</button>
</mat-menu>