.img-thumbnail {
    height: 50px;
    width: 50px;
}
.menu-spacer {
    flex: 1 1 auto;
}
.pointer {
    cursor: pointer;
}

.cartImg {
    height: 35px;
    width: 35px;
    // margin-right: 10px;
    // margin-bottom: 3px;
}

.productCartBtn {
    height: 35px;
    width: 35px;
}

.mat-button {
    outline: 0;
}

.mat-icon-button {
    outline: 0;   
}

.mat-menu-item {
    outline: 0;
}

mat-toolbar {
    // background-color: green !important;
    // background-image: url("/assets/images/headerBackground.png") !important;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4e391+0,61c419+66,b4e391+100 */
// background: #b4e391 !important; /* Old browsers */
background-image: linear-gradient(to right, #113469, #1074ad, #008793, #02975c, #689604) !important;

}