.img-thumbnail {
    height: 160px;
    border: none;
}

.container {
    margin: 0px;
    padding: 0px;
    margin: auto;
}

.product {
    margin-top: 5px;
}

.productInfo {
    padding-top: 20px;
    padding-bottom: 0px;
}

mat-card-title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.521);
}

mat-card-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px !important;
}

mat-card-content {
    padding-bottom: 0px !important;
}

.mat-card-actions {
    padding-bottom: 0;
}

.offerPrice {
    text-decoration: line-through
}
.card-actions-container {
    float: right;
}

.mat-card-actions {
    // ...
    justify-content: flex-end;
    &[align='end'] {
      justify-content: flex-end;
    }
  
    &[align='center'] {
      justify-content: center;
    }
}

.veg {
    position: absolute;
    right: 10px;
    top: 10px;
    color: green;
}
.nonVeg {
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(211, 16, 9);
}

.foodTypeIndicator {
    position: absolute;
    right: 10px;
    top: 10px;
}

.offerImg {
    height: 90px;
    top: 0;
    left: 0;
    margin-left: -10px;
    margin-top: -15px;
    position: absolute;
    // margin: 0px -20px 20px -20px;
    z-index: 1000;
}
.offerImg:hover {
    -webkit-filter: drop-shadow(2px 2px 3px #888888);
    filter: drop-shadow(2px 2px 3px #888888);
}
.add2cart {
    color: #faa403;
    transition: all .35s ease-out;
}
.add2cart:hover {
    color: #be7c01;
    transform: scale(1.05);
}

.product:hover  {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.grow { transition: all .35s ease-out; }
.grow:hover { transform: scale(1.1); }

app-search-bar {
    float: right;
}
.toolbar {
    background-color: grey;
}
