.img-thumbnail {
    height: 160px;
    border: none;
}

.container {
    margin: 0px;
    padding: 0px;
    margin: auto;
}

.product {
    margin-top: 5px;
}

.card-actions-container {
    float: right;
}

.mat-card-actions {
    // ...
    justify-content: flex-end;
    &[align='end'] {
      justify-content: flex-end;
    }
  
    &[align='center'] {
      justify-content: center;
    }
}

.footTypeIndicator {
    color: green;
    float: right;
}

.cardHeaderInfo {
    margin: 0;
    padding: 0;
}

.add2cart {
    color: #faa403;
    transition: all .35s ease-out;
}
.add2cart:hover {
    color: #be7c01;
    transform: scale(1.05);
}

.product:hover  {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.grow { transition: all .35s ease-out; }
.grow:hover { transform: scale(1.1); }

app-search-bar {
    float: right;
}
.toolbar {
    background-color: grey;
}