<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0">
    <mat-card>
        <form autocomplete="on" [formGroup]="addProductForm" (ngSubmit)="AddProduct()">
            <div>
                <mat-form-field appearance="fill">
                <mat-label>Product Name</mat-label>
                <input matInput formControlName="productName">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                <mat-label>Product Price</mat-label>
                <input matInput formControlName="productPrice" type="number">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                <mat-label>Offer Price</mat-label>
                <input matInput formControlName="offerPrice" type="number">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Food Category</mat-label>
                    <select matNativeControl formControlName="foodCategory" required>
                        <option value="Veg">Veg</option>
                        <option value="NonVeg">Non-Veg</option>
                        <option value="Vegan">Vegan</option>
                    </select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                <mat-label>Image Url</mat-label>
                <input matInput formControlName="imageURL">
                </mat-form-field>
            </div>
            <button mat-stroked-button (click)="updateProduct()" [disabled]="!addProductForm.valid">Update Product</button>
            <button mat-stroked-button [disabled]="!addProductForm.valid" type="submit">Add Product</button>
        </form>
    </mat-card>
    <mat-card>
        <mat-toolbar color="secondary"></mat-toolbar>
        <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center center">
            <mat-card class="product" fxFlex="22%" *ngFor="let product of products$ | async" [style.margin-top]="12">
                <mat-card-header>
                    <mat-card-title>{{  product.productName }}</mat-card-title>
                    <mat-card-subtitle>PRICE: {{ product.productPrice }} &euro;</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="center center">
                    <img src="{{product.imageURL}}" class="align-self-start mr-1 img-thumbnail"
                alt="{{product.productName}}">
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="center center">
                    <button mat-button (click)="selectProduct(product)"><mat-icon aria-hidden="false" aria-label="Edit icon">edit</mat-icon></button>
                    <button mat-button (click)="deleteProduct(product)"><mat-icon aria-hidden="false" aria-label="Delete icon">delete</mat-icon></button>
                    <!-- <button mat-button>Edit</button>
                    <span class="material-icons">
                        accessibility
                        </span>
                    <button mat-button>Delete</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-card>
</div>